<template>
  <form>
    <div class="form-group">
      <label for="formControlRange">Example Range input</label>
      <input type="range" class="form-control-range" id="formControlRange" />
    </div>
  </form>
</template>
<script>
export default {}
</script>
<style></style>
