<template>
  <div>
    <b-form b-form @submit.stop.prevent>
      <label>
        <b-form-input
          v-model="userId"
          id="feedback-user"
          :status="validation"
        ></b-form-input>
        <b-form-invalid-feedback :status="validation"
          >Your user ID must be 5-12 characters long.</b-form-invalid-feedback
        >
        <b-form-valid-feedback :status="validation"
          >Looks Good.</b-form-valid-feedback
        >
      </label>
    </b-form>
  </div>
</template>
<script>
export default {
  data () {
    return {
      userid: ''
    }
  },
  computed: {
    validation () {
      return this.userId.lenght > 4 && this.userId.lenght < 13
    }
  }
}
</script>
<style></style>
