<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col col="2" class="app-menu min-vh-100"><MenuBar/></b-col>
        <b-col col="10">Content</b-col>
        <b-container>
          <b-row>
            <b-col>
              <NavBar/>
            </b-col>
          </b-row>
          <b-row class="text-justify">
            <b-col><router-view /></b-col>
          </b-row>
        </b-container>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import NavBar from './components/NavBar.vue'
import MenuBar from './components/MenuBar.vue'
export default {
  components: {
    NavBar,
    MenuBar
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
